name: 1420 Clone and Push

on:
  schedule:
    - cron: '0 20 12 * *' # Runs monthly, every 2 hours, incrementing day when hour resets
  workflow_dispatch:



jobs:
  build:
    runs-on: ubuntu-latest
    continue-on-error: true
    strategy:
      max-parallel: 1
      matrix:
        repo_name: ['platform/external/rust/crates/json5', 'platform/external/rust/crates/kernlog', 'platform/external/rust/crates/lazy_static', 'platform/external/rust/crates/lazycell', 'platform/external/rust/crates/libbpf-rs', 'platform/external/rust/crates/libbpf-sys', 'platform/external/rust/crates/libc', 'platform/external/rust/crates/libfuzzer-sys', 'platform/external/rust/crates/libloading', 'platform/external/rust/crates/libm', 'platform/external/rust/crates/libsqlite3-sys', 'platform/external/rust/crates/libtest-mimic', 'platform/external/rust/crates/libusb1-sys', 'platform/external/rust/crates/libz-sys', 'platform/external/rust/crates/linked-hash-map', 'platform/external/rust/crates/linkme', 'platform/external/rust/crates/linkme-impl', 'platform/external/rust/crates/litrs', 'platform/external/rust/crates/lock_api', 'platform/external/rust/crates/log']

    steps:
      - name: Maximize build space
        uses: easimon/maximize-build-space@master
        with:
          root-reserve-mb: 512
          swap-size-mb: 1024
          remove-dotnet: 'true'
          remove-haskell: 'true'
          remove-android: 'true'
          
      - name: Checkout
        uses: actions/checkout@v4

      - name: Git clone
        run: git clone --mirror https://android.googlesource.com/${{ matrix.repo_name }} ${{ matrix.repo_name }}

      - name: Increase Git buffer size
        run: git config --global http.postBuffer 157286400

      - name: Push with retry
        run: |
          cd ${{ matrix.repo_name }}
          git config --global user.email "you@example.com"
          git config --global user.name "Your Name"
          for i in {1..3}; do
            git push --mirror https://${{ secrets.GitUsername }}:${{ secrets.GitToken }}@${{ secrets.GitURL }}/${{ matrix.repo_name }}.git && break || sleep 30;
          done
