name: 1780 Clone and Push

on:
  schedule:
    - cron: '0 20 15 * *' # Runs monthly, every 2 hours, incrementing day when hour resets
  workflow_dispatch:



jobs:
  build:
    runs-on: ubuntu-latest
    continue-on-error: true
    strategy:
      max-parallel: 1
      matrix:
        repo_name: ['platform/external/tinyxml2', 'platform/external/tlsdate', 'platform/external/toolchain-utils', 'platform/external/toybox', 'platform/external/tpm2', 'platform/external/tpm2-tss', 'platform/external/trace-cmd', 'platform/external/trappy', 'platform/external/tremolo', 'platform/external/tremor', 'platform/external/truth', 'platform/external/turbine', 'platform/external/tz', 'platform/external/u-boot', 'platform/external/ublksrv', 'platform/external/ukey2', 'platform/external/unicode', 'platform/external/universal-tween-engine', 'platform/external/usrsctp', 'platform/external/utf8proc']

    steps:
      - name: Maximize build space
        uses: easimon/maximize-build-space@master
        with:
          root-reserve-mb: 512
          swap-size-mb: 1024
          remove-dotnet: 'true'
          remove-haskell: 'true'
          remove-android: 'true'
          
      - name: Checkout
        uses: actions/checkout@v4

      - name: Git clone
        run: git clone --mirror https://android.googlesource.com/${{ matrix.repo_name }} ${{ matrix.repo_name }}

      - name: Increase Git buffer size
        run: git config --global http.postBuffer 157286400

      - name: Push with retry
        run: |
          cd ${{ matrix.repo_name }}
          git config --global user.email "you@example.com"
          git config --global user.name "Your Name"
          for i in {1..3}; do
            git push --mirror https://${{ secrets.GitUsername }}:${{ secrets.GitToken }}@${{ secrets.GitURL }}/${{ matrix.repo_name }}.git && break || sleep 30;
          done
