name: 2870 Clone and Push

on:
  schedule:
    - cron: '0 22 24 * *' # Runs monthly, every 2 hours, incrementing day when hour resets
  workflow_dispatch:



jobs:
  build:
    runs-on: ubuntu-latest
    continue-on-error: true
    strategy:
      max-parallel: 1
      matrix:
        repo_name: ['toolchain/prebuilts/ndk/r16', 'toolchain/prebuilts/ndk/r17', 'toolchain/prebuilts/ndk/r18', 'toolchain/prebuilts/ndk/r19', 'toolchain/prebuilts/ndk/r20', 'toolchain/prebuilts/ndk/r21', 'toolchain/prebuilts/ndk/r23', 'toolchain/prebuilts/ndk/r24', 'toolchain/prebuilts/ndk/r25', 'toolchain/prebuilts/ndk/r26', 'toolchain/prebuilts/ndk/r27', 'toolchain/prebuilts/ndk/releases', 'toolchain/prebuilts/sysroot/platform/riscv64-linux-android', 'toolchain/python', 'toolchain/riscv_gnu_toolchain', 'toolchain/rr', 'toolchain/rustc', 'toolchain/sccache', 'toolchain/sed', 'toolchain/valgrind']

    steps:
      - name: Maximize build space
        uses: easimon/maximize-build-space@master
        with:
          root-reserve-mb: 512
          swap-size-mb: 1024
          remove-dotnet: 'true'
          remove-haskell: 'true'
          remove-android: 'true'
          
      - name: Checkout
        uses: actions/checkout@v4

      - name: Git clone
        run: git clone --mirror https://android.googlesource.com/${{ matrix.repo_name }} ${{ matrix.repo_name }}

      - name: Increase Git buffer size
        run: git config --global http.postBuffer 157286400

      - name: Push with retry
        run: |
          cd ${{ matrix.repo_name }}
          git config --global user.email "you@example.com"
          git config --global user.name "Your Name"
          for i in {1..3}; do
            git push --mirror https://${{ secrets.GitUsername }}:${{ secrets.GitToken }}@${{ secrets.GitURL }}/${{ matrix.repo_name }}.git && break || sleep 30;
          done
